<div class="landingPage">
    <div>
      <img src="./assests/images/LogoMobo.png" class="logoMobo" alt="logo for mobile devices"/>
      <img src="./assests/images/LogoBigo2.png" class="logoBigo" alt="logo for larger devices"/>
    </div>
    <div class="buttons">
      <div routerLink='list'>
        <div class="button">
          <p class="buttonText"> List View </p>
        </div>
      </div>
      <div routerLink='map'>
        <div class="button">
          <p class="buttonText"> MapView </p>
        </div>
      </div>
      <div routerLink='add'>
        <div class="button">
          <p class="buttonText"> Add a Gift </p>
        </div>
      </div>
      <div routerLink='update'>
        <div class="button" ref="update">
          <p class="buttonText"> Update </p>
        </div>
      </div>
  </div>
</div>
